body {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 26px;
    background-color: #14213d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#ffffff;
}

.container{
    width: 100vw;  
    height: 100vh;
    justify-content: center;
    align-content: center;
    display: grid;
    text-align: center;

}
.Tic-Tac-Toe-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.title{
    
    background-color:#e5e5e5;
    color: #14213d;
    padding: 15px 0;
    margin: 5px 0;
    
}

.cell{
    font-size: 8rem;
    display: grid;
    width: 150px;
    height: 150px;
    background-color: #fca311;
    margin: 5px;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.cell:hover{
    background-color: #e5e5e5;
}

.win-box{
    background-color: #e5e5e5;
    color: #14213d;
    padding: 15px 0;
    margin: 5px 0;
}

.restart-Btn {
    background-color: white;
    border: 1px solid #14213d;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px 20px;
  }
  
.restart-Btn:hover {
    background-color: #14213d;
    color: white;
    border-color: white;
  }